@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Relief", system-ui;
}

body{
    height: 100dvh;
    background: linear-gradient(90deg,rgba(141, 203, 227, 1) 0%, rgba(87, 199, 133, 1) 49%, rgba(237, 221, 83, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

#app {
    height: 100%;
    max-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login{
    max-width: 900px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 70%;
    height: 60%;
    background-color: rgb(253, 251, 248);
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    
}

.loginForm {
    display: flex;
    width: 30%;
    flex-direction: column;
    gap: 0.5em;
}
form button {
    width: 100%;
    padding: 0.5em 0;
    border-radius: 5px;

}

form input {
    height: 10%;
    width: 100%;
    padding: 0.4em;
    border-radius: 5px;
}

.login img {
    width: 50%;
    height: 80%;
    object-fit:contain;
    
}

@media (max-width: 1175px) {
    .login, .infoDiv {
        flex-direction: column;
    }

    .login img {
        height: 70%;
        width: 100%;
    }
    .login form {
        height: 50%;
        width: 80%;
    }
    .login input {
        height: 25%;
    }
}
.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    width: 100%;

}

.closeModal {
    cursor: pointer;
    font-weight: 700;
    transition: 300ms;
    color: rgb(134, 134, 134);
}

.closeModal:hover {
    transform: scale(1.2);
    color: black;
}

.infoDiv{
    display: flex;
    /* height: 100%; */
    max-height: 80vh;
    /* flex-direction: column; */
    background-color: white;
    width: 80vw;
    max-width: 900px;
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    padding: 1em;
    gap: 3em;
    justify-content: center;
    /* align-items: center; */
}

.infoUser{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 60vh;
    width: 80vw;
}

.info-header {
    font-size: 25px;
    border: 3px solid black;
    padding: 1em;
    border-radius: 5px;


}

.vegetablesImg{
    max-height: 40%;
    width: 50%;
    object-fit: contain;
}

.infoForm{
    height: 40%;
    display: flex;
    gap: 0.3em;
    flex-direction: column;
    justify-content: center;
}

.infoForm input {
    height: auto;

}
.genderDiv{
    display: flex;
    align-items: center;
}

.genderDiv input{
    height: 70%;
    width: 20%;
}

.genderDiv label{
    width: 20%;
}
