@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Relief", system-ui;
}

body{
    height: 100dvh;
    background: linear-gradient(90deg,rgba(141, 203, 227, 1) 0%, rgba(87, 199, 133, 1) 49%, rgba(237, 221, 83, 1) 100%);

}

#app {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    max-width: 900px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 70%;
    height: 60%;
    background-color: rgb(253, 251, 248);
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    
}

form {
    display: flex;
    width: 30%;
    flex-direction: column;
    gap: 0.5em;
}
form button {
    width: 100%;
    padding: 0.5em 0;
    border-radius: 5px;

}

form input {
    height: 10%;
    width: 100%;
    padding: 0.4em;
    border-radius: 5px;
}

.login img {
    width: 50%;
    height: 80%;
    object-fit:contain;
    
}

@media (max-width: 1175px) {
    .login {
        flex-direction: column;
    }

    .login img {
        height: 70%;
        width: 100%;
    }
    .login form {
        height: 50%;
        width: 80%;
    }
    .login input {
        height: 25%;
    }
}
.closeModal {
	position: absolute;
	top: 30px;
	right: 20px;
	width: 24px;
	height: 24px;
	opacity: 0.2;
	cursor: pointer;
  transition: opacity ease 0.5s;

	&:hover {
		opacity: 1;
	}
}

.closeModal::before,
.closeModal::after {
	content: '';
	position: absolute;
	top: 10px;
	display: block;
	width: 24px;
	height: 3px;
	background: #000;
}

.closeModal::before {
	transform: rotate(45deg);
}

.closeModal::after {
	transform: rotate(-45deg);
}
.infoDiv{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 80vh;
    width: 80vw;
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    padding: 1em;
    align-items: center;
}
.vegetablesImg{
    height: 45%;
    width: 50%;
    object-fit: contain;
}
.inputDiv{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}